alter table public.expense_categories drop constraint if exists expense_categories_created_by_fkey, add constraint expense_categories_created_by_fkey foreign key (created_by) references public.profiles(id) on delete set null; alter table public.expenses drop constraint if exists expenses_created_by_fkey, add constraint expenses_created_by_fkey foreign key (created_by) references public.profiles(id) on delete cascade; alter table public.expenses drop constraint if exists expenses_deleted_by_fkey, add constraint expenses_deleted_by_fkey foreign key (deleted_by) references public.profiles(id) on delete set null; notify pgrst, 'reload schema';
